<div class="jumbotron">
<h1 class="text-center">Real Tips from Real People</h1>
<p class="text-center">Stop what you're doing and sign up to find out how to do it better</p>

<form role="form">
  <div class="form-group">
    <label for="exampleInputName">Full Name</label>
    <input type="name" class="form-control" id="exampleInputName" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail">Email Address</label>
    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
</div>